html{
    }


body {
   margin:0;
   padding:0;
   padding-bottom: 50px;
   height:100%;

}

h1, h2{
    font-family: 'Philosopher',  sans-serif;
    margin: 0 auto;
    float: none;
}


#body {
   padding:20px;
   padding-bottom:80px;   /* Height of the footer */
   float:left;
   overflow:auto;
}

#table {
    padding: -10px;
}

.MainContent{
    background-image: url('../img/j0Bee17.jpg');
   background-repeat: repeat;
}

.col-centered{
    float: none;
    margin: 0 auto;
}