    html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#body {
   padding:20px;
   padding-bottom:80px;   /* Height of the footer */
   float:left;
   overflow:auto;
}

#sections{
    padding: -10px;
}

#table{
    padding: -10px;
}
